* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arimo', sans-serif;
    background-color: $bgcolor;
    color: $textcolor;  
    .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
}