main {
    margin-bottom: 4rem;
    background-color: #673883;
    padding: 2rem;
    border-radius: 8px;
    margin-top: 120px;
    .article1 {
        margin-top: 20px;
        flex-direction: row;
        text-align: start;
        padding: 1rem;
        img {
            max-width: 100%;
            height: auto;
            margin: 10px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
        }
        h1 {
            color: #74dff1;
            font-size: 3.5rem;
            padding-bottom: 15px;
        }
        .custom-paragraph {
            text-align: justify; /* Justifica el texto para una mejor legibilidad */
            padding: 15px;
            color: aliceblue;
            border-radius: 5px; /* Bordes redondeados */  

        }
        .img-fluid {
            max-width: 25%;
            height: auto;
            display: flex;
            margin-right: 15%;
        }
    }}
    .article2 {
        
        
        h2{
            color: #74dff1;
            padding-bottom: 15px;
            font-size: 3.5rem;
           
        }
        p{
            background-color: #caa1e2;
            padding: 1rem;
            border-radius: 2%;
            margin-bottom: 1rem;
            color: aliceblue;
            font-size: 1.9rem;
        }
        
    }
    .article3 {
        margin-top: 10px;
        
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin-right: 90%;
        }
        h3 {
            color: #74dff1;
            font-size: 3.5rem;
            padding-bottom: 15px;
        }
        .btn {
            margin-top: 50px;
        }
        .custom-paragraph {
            text-align: justify; /* Justifica el texto para una mejor legibilidad */
            padding: 15px;
            color: aliceblue;
            border-radius: 5px; /* Bordes redondeados */  
        }
        .img-fluid {
            max-width: 25%;
            height: auto;
            display: flex;
            margin-right: 15%;
        }
    }